$include-all-icons: true !default;

@if $include-all-icons {
  @include icon-font('Pictos', inline-font-files('pictos/pictos-web.woff', woff, 'pictos/pictos-web.ttf', truetype,'pictos/pictos-web.svg', svg));
  @include icon("anchor");
  @include icon("box");
  @include icon("upload");
  @include icon("forbidden");
  @include icon("lightning");
  @include icon("rss");
  @include icon("team");
  @include icon("help");
  @include icon("info");
  @include icon("attachment");
  @include icon("heart");
  @include icon("list");
  @include icon("music");
  @include icon("table");
  @include icon("folder");
  @include icon("pencil");
  @include icon("chat2");
  @include icon("retweet");
  @include icon("search");
  @include icon("time");
  @include icon("switch");
  @include icon("camera");
  @include icon("chat");
  @include icon("settings2");
  @include icon("settings");
  @include icon("tags");

  @include icon("attachment2");
  @include icon("bird");
  @include icon("cloud");
  @include icon("delete_black1");
  @include icon("eye");
  @include icon("file");
  @include icon("browser");
  @include icon("home");
  @include icon("inbox");
  @include icon("network");
  @include icon("key");
  @include icon("radio");
  @include icon("mail");
  @include icon("news");
  @include icon("case");
  @include icon("photos");
  @include icon("power");
  @include icon("action");
  @include icon("favorites");
  @include icon("plane");
  @include icon("user");
  @include icon("video");
  @include icon("compose");
  @include icon("truck");
  @include icon("chart2");
  @include icon("chart");

  @include icon("expand");
  @include icon("refresh");
  @include icon("check");
  @include icon("check2");
  @include icon("play");
  @include icon("pause");
  @include icon("stop");
  @include icon("forward");
  @include icon("rewind");
  @include icon("play2");
  @include icon("refresh2");
  @include icon("minus");
  @include icon("battery");
  @include icon("left");
  @include icon("right");
  @include icon("calendar");
  @include icon("shuffle");
  @include icon("wireless");
  @include icon("speedometer");
  @include icon("more");
  @include icon("print");

  @include icon("download");
  @include icon("warning_black");
  @include icon("locate");
  @include icon("trash");
  @include icon("cart");
  @include icon("bank");
  @include icon("flag");
  @include icon("add");
  @include icon("delete");
  @include icon("lock");
  @include icon("unlock");
  @include icon("minus2");
  @include icon("add2");
  @include icon("up");
  @include icon("down");
  @include icon("screens");
  @include icon("bell");
  @include icon("quote");
  @include icon("volume_mute");
  @include icon("volume");
  @include icon("help");
}
